/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* .cus-active {
    @apply border-b-4 rounded-none relative;
} */


.cus-active {
    position: relative;
}

.cus-active::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 0;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}

/* Selected date and time background */
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
    background: #0B3C49 !important;
    color: white !important;
}

/* Hover effect for days */
.flatpickr-day:hover {
    background: rgba(11, 60, 73, 0.2) !important;
    color: #0B3C49 !important;
}


.pagination-btn {
    @apply border border-gray-300 text-gray-700 px-3 py-2 rounded-md hover:bg-gray-100 focus:outline-none;
}

.pagination-btn.active {
    @apply border-blue-500 text-blue-600 bg-blue-100;
}